.lead__picture {
  display: block;
  width: 984px;
  margin: 64px auto 0 auto;
  padding: 0;
  max-height: 615px;
}

@media screen and (max-width: 1080px) {
  .lead__picture {
    margin: 56px 48px 0 48px;
    max-width: 984px;
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1000px) {
  .lead__picture {
    margin: 56px 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .lead__picture {
    margin-top: 40px;
  }
}
