.header__languages {
  margin: 0 0 6px 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  align-self: flex-end;
}

@media screen and (max-width: 740px) {
  .header__languages {
    margin-bottom: 8px;
  }
}
