.cover__background {
  background-position: center;
  background-size: cover;
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  min-height: 740px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    min-height: 62.5vw;
  }
}
